body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-reg {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.btn-text {
  font-size: 12px;
  font-weight: 600;
}

.btn-clear {
  background-color: unset;
  border: unset;
}

img {
  width: 100%;
  object-fit: cover;
}

.highlight-img {
  width: 100%;
  background-image: url(/assets/image.png);
  object-fit: cover;
}

.hero-img {
  min-height: 75dvh;
  background-color: #1B2F45;
  /* background-image: url(https://images.unsplash.com/photo-1479292889369-1a48f234247e?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
}

.hero-space {
  height: 70dvh;
  align-content: center;
}

.photo-bg {
  background: url(https://images.unsplash.com/photo-1479292889369-1a48f234247e?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  overlay: rgba(14, 25, 108, 0.294);
}